<form method="POST" action="/albums">
  <div>
  <label>Album title:</label><br>
  <input type="text" name="title" />
  </div><br >

  <div>
  <label>Album release year:</label><br>
  <input type="text" name="release_year" />
  </div><br >

  <div>
  <label>Album artist ID:</label><br>
  <input type="text" name="artist_id" />
  <%# <select>
    <option>ABBA</option>
    <option>Radiohead</option>
    <option>Pixies</option>
  </select> %>
  </div>

  <br ><input type="submit" />
</form>