<form method="POST" action="/artists">
  <div>
  <label>Artist name:</label><br>
  <input type="text" name="name" />
  </div><br >

  <div>
  <label>Artist genre:</label><br>
  <input type="text" name="genre" />
  </div>

  <br ><input type="submit" />
</form>
